
{
  "extends": [
      "../../base.js",
  ],
  "root": true,
  "parserOptions": {
      "sourceType": "module",
      "requireConfig": true,
      "babelOptions": {
        "configFile": "./tests/react/babel.config.js"
      }
  }
}
